html {
    height: 100%;
    width: 100%;
    background-color: #1d2126;
}

body {
    overflow: scroll;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: Palatino, Georgia, serif;
}

form {
    color: #c9cccd;
}

input {
    border: 0px;
    width: 100%;
    background-color: #1d2126;
}

input[type="text"] {
    caret-color: #c9cccd;
}

input, textarea {
    color: #c9cccd;
    
}

.alignc {
    width: 40%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }