html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Palatino, Georgia, serif;
    color: #c9cccd;
    background-color: #1d2126;
}

body {
    overflow: scroll;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

form {
    color: inherit; 
}

input[type="text"],
input,
textarea {
    border: 0;
    width: 100%;
    background-color: #1d2126;
    caret-color: #c9cccd;
    color: inherit; 
}

.alignc {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}